@font-face {
    font-family: 'Reey', sans-serif;
    src: url(/assets/fonts/Reey-Regular.otf);
}

:root{
    /*--FONT-FAMILY--*/
    --font-logo: 'Reey', sans-serif;
    --fontRoboto-1: 'Roboto', sans-serif;

    /*--COLORS--*/
    --color-1: #030A15;
    --color-2: #6633CC;
    --color-3: #fff;
}

.dark-mode{
    --color-3: #030A15;
}
.dark-overlay{
    --color-1: #fff;
}

html{
    font-size: 62.5%;
}

body{
    font-family: var(--fontRoboto-1);
    background: var(--color-3);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;    
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    background: transparent;
}

.header .logo{
    font-family: var(--font-logo);
    font-size: 4rem;
    color: var(--color-2);
    margin-right: auto;
}
.navbar a{
    position: relative;
    font-family: var(--fontRoboto-1);
    font-size: 2rem;
    color: var(--color-1);
    margin-right: 24px;
}
.navbar a.active::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 2px;
    background: var(--color-1);
}
.toggle{
    display: flex;
    margin-top: 1px;
    cursor: pointer;
}
.toggle .toggle-icon{
    font-size: 2rem;
    color: var(--color-1);
}

.home{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 60px 7% 0;
}
.home .home-content{
    max-width: 440px;
}
.home-content h3{
    font-size: 3.2rem;
    line-height: 1;
    justify-content: end;
    display: flex;
}
.home-content h1{
    font-size: 5.6rem;
    font-weight: bold;
    color: var(--color-2);
    margin-bottom: 4px;
    display: flex;
    justify-content: end;
}
.home-content p{
    font-size: 2rem;
    text-align: end;
}
.social-media{
    display: flex;
    justify-content: end;
}
.social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--color-2);
    width: 40px;
    height: 40px;
    background: transparent;
    border-radius: 50%;
    font-size: 2rem;
    color: var(--color-2);
    margin: 25px 15px 30px 0;
    box-shadow: 0 2px 5px var(--color-2);
    transition: .5s ease;
}
.social-media a:hover{
    background: var(--color-2);
    color: var(--color-3);
}
.btn{
    display: inline-block;
    float: right;
    padding: 12px 28px;
    background: var(--color-2);
    color: var(--color-3);
    border-radius: 12px;
    border: 2px solid transparent;
    font-size: 1.6rem;
    font-weight: bold;
    box-shadow: 0 2px 5px var(--color-2);
    letter-spacing: 1px;
    transition: .5s ease;
}
.btn:hover{
    background: transparent;
    color: var(--color-2);
    border-color: var(--color-2);
}

.home .profession-container{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 1140px;
    height: 1140px;
    overflow: hidden;
}
.profession-container .profession-box{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profession-box .profession{
    position: absolute;
    transform-origin: 570px;
    left: 0;
    transform: rotate(calc(360deg / 4*var(--i)));
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    color: var(--color-2);
    background: var(--color-3);
    padding: 14px 0;
}
.profession-box .profession:nth-child(1) i{
    margin-right: 49px;
    padding-top: 8px;
}
.profession-box .profession:nth-child(2) i{
    margin-left: 32px;
    padding-top: 8px;
}
.profession-box .profession:nth-child(3) i{
    padding-top: 8px;
    margin-left: 32px;
}
.profession-box .profession:nth-child(4) i{
    padding-top: 8px;
    margin-right: 40px;
}
.profession i{
    font-size: 3.2rem;
}
.profession h3{
    font-size: 4rem;
    line-height: 1;
    font-weight: bold;
    transform: rotate(180deg);
}
.profession-box .circle{
    width: 75%;
    height: 75%;
    border: 3px solid var(--color-2);
    border-radius: 50%;
}

.profession-container .overlay{
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-top: 570px solid var(--color-1);
    border-right: 570px solid transparent;
    border-bottom: 570px solid var(--color-1);
    border-left: 570px solid var(--color-1);
}

.home-img img{
    position: absolute;
    top: 25%;
    left: 12.5%;
    width: 470px;
    pointer-events: none;
}