@font-face {
    font-family: 'Reey', sans-serif;
    src: url(/assets/fonts/Reey-Regular.otf);
}

:root{
    /*--FONT-FAMILY--*/
    --font-logo: 'Reey', sans-serif;
    --fontRoboto-1: 'Roboto', sans-serif;

    /*--COLORS--*/
    --color-1: #030a15;
    --color-2: #6633CC;
    --color-3: #fff;
}

html{
    font-size: 62.5%;
}

body{
    font-family: var(--fontRoboto-1);
    background: var(--color-1);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;    
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    background: transparent;
}
.header.transparent{
    background-color: transparent;
}
.header.active{
    background-color: rgba(3, 10, 21, 0.50);
    backdrop-filter: blur(5px);
    transition: 0.5s;
}
.header-portf{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    background: transparent;
}

.header .logo{
    font-family: var(--font-logo);
    font-size: 4rem;
    color: var(--color-2);
    margin-right: auto;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}
.navbar a{
    position: relative;
    display: inline-block;
    font-family: var(--fontRoboto-1);
    font-size: 2rem;
    color: var(--color-3);
    margin-right: 24px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.1s * var(--i));
    transition: 0.3s;
}
.navbar a:active,
.navbar a:hover{
    color: var(--color-2);
}
.toggle{
    display: flex;
    margin-top: 1px;
    cursor: pointer;
}
.toggle .toggle-icon{
    font-size: 2rem;
    color: var(--color-3);
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1.5s;
}
.logo-portf{
    font-family: var(--font-logo);
    font-size: 4rem;
    color: var(--color-2);
    margin-right: auto;
}
.header-portfolio .navbar a{
    position: relative;
    display: inline-block;
    font-family: var(--fontRoboto-1);
    font-size: 2rem;
    color: var(--color-3);
    margin-right: 24px;
}
.navbar-portf a{
    position: relative;
    display: inline-block;
    font-family: var(--fontRoboto-1);
    font-size: 2rem;
    color: var(--color-3);
    margin-right: 24px;
}
.toggle-portf .toggle-icon{
    font-size: 2rem;
    color: var(--color-3);
}

.home{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 60px 7% 0;
}
.home .home-content{
    max-width: 440px;
}
.home-content h3{
    font-size: 3.2rem;
    line-height: 1;
    justify-content: end;
    display: flex;
    color: var(--color-3);
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: .9s;
}
.home-content h1{
    font-size: 5.6rem;
    font-weight: bold;
    color: var(--color-2);
    margin-bottom: 4px;
    display: flex;
    justify-content: end;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1.1s;
}
.home-content p{
    font-size: 2rem;
    text-align: end;
    color: var(--color-3);
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1.3s;
}
.social-media{
    display: flex;
    justify-content: end;
}
.social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--color-2);
    width: 40px;
    height: 40px;
    background: transparent;
    border-radius: 50%;
    font-size: 2rem;
    color: var(--color-2);
    margin: 25px 15px 30px 0;
    box-shadow: 0 2px 5px var(--color-2);
    transition: .5s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
}
.social-media a:hover{
    background: var(--color-2);
    color: var(--color-3);
}
.btn{
    display: inline-block;
    float: right;
    padding: 12px 28px;
    background: var(--color-2);
    color: var(--color-3);
    border-radius: 12px;
    border: 2px solid transparent;
    font-size: 1.6rem;
    font-weight: bold;
    box-shadow: 0 2px 5px var(--color-2);
    letter-spacing: 1px;
    transition: .5s ease;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 1.6s;
}
.btn:hover{
    background: transparent;
    color: var(--color-2);
    border-color: var(--color-2);
}

.home .profession-container{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 1140px;
    height: 1140px;
    overflow: hidden;
}
.profession-container .profession-box{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    animation: slideRight 1s ease forwards, professionRotate 10s ease-out infinite;
    animation-delay: .7s;
}
.profession-box .profession{
    position: absolute;
    transform-origin: 570px;
    left: 0;
    transform: rotate(calc(360deg / 4*var(--i)));
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    color: var(--color-2);
    background: var(--color-1);
    padding: 14px 0;
}
.profession-box .profession:nth-child(1) i{
    margin-right: 49px;
    padding-top: 8px;
}
.profession-box .profession:nth-child(2) i{
    margin-left: 32px;
    padding-top: 8px;
}
.profession-box .profession:nth-child(3) i{
    padding-top: 8px;
    margin-left: 32px;
}
.profession-box .profession:nth-child(4) i{
    padding-top: 8px;
    margin-right: 40px;
}
.profession i{
    font-size: 3.2rem;
}
.profession h3{
    font-size: 4rem;
    line-height: 1;
    font-weight: bold;
    transform: rotate(180deg);
}
.profession-box .circle{
    width: 78%;
    height: 78%;
    border: 16px solid var(--color-2);
    border-radius: 50%;
}

.profession-container .overlay{
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-top: 570px solid var(--color-3);
    border-right: 570px solid transparent;
    border-bottom: 570px solid var(--color-3);
    border-left: 570px solid var(--color-3);
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: .2s;
}

.home-img img{
    position: absolute;
    top: 25%;
    left: 12.5%;
    width: 470px;
    pointer-events: none;
    opacity: 1 !important;
    animation: slideRight 1s ease forwards;
}

/*==CARDS==*/
.cards-contain{
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
    margin: 16px 8px;
  }
  .cards-wrapper{
    display: flex;
    align-items: center;
    margin: 20px 0;
  }
  .card a{
    background-color: var(--color-2);
    scroll-snap-align: center;
    min-width: 235px;
    border-radius: 16px;
    height: 330px;
    margin: 0 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    transition: all 0.3s ease;
  }
  .card a:hover,
  .card a:active{
    box-shadow: 0 0 9px 6px var(--color-2);
    transform: scale(1.04);
  }
  .card a.no-underline {
    text-decoration: none;
  }
  .card img{
    height: 70%;
    width: 100%;
    background-size: cover;
    background-position: center top;
  }
  .card h2{
    font-family: var(--font-1);
    font-size: var(--h2-mobile);
    color: var(--color-1);
  }
  .icons-card{
    display: flex;
    gap: 16px;
    align-items: center;
    margin-bottom: 8px;
    color: var(--color-1);
  }
  .icons-card img{
    height: 32px;
  }
  .card i{
    font-size: 3.2rem;
  }
  .img1{
    background-image: url(/assets/imgs/appRecipes.jpeg);
    border-radius: 16px 16px 0 0;
  }
  .img2{
    background-image: url(/assets/imgs/corazonverde.png);
    border-radius: 16px 16px 0 0;
  }
  .img3{
    background-image: url(/assets/imgs/landingPage-eduSoft.jpg);
    border-radius: 16px 16px 0 0;
  }
  .img4{
    background-image: url(/assets/imgs/weatherApp.jpg);
    border-radius: 16px 16px 0 0;
  }
  .img5{
    background-image: url(/assets/imgs/imgCarritoJuanita.png);
    border-radius: 16px 16px 0 0;
  }
  .img6{
    background-image: url(/assets/imgs/autoSelecto.png);
    border-radius: 16px 16px 0 0;
  }
  .img7{
    background-image: url(/assets/imgs/NOtasLeon.png);
    border-radius: 16px 16px 0 0;
  }
/*====*/

/*==SECTION TECNOLOGÍAS QUE DOMINO==*/
.techs{
    margin-top: 200px;
    padding-top: 40px;
    padding-bottom: 24px;
    margin-top: 1%;
    width: 100%;
    background-color: var(--color-1);
  }
  .techs h2{
    text-align: center;
    color: var(--color-3);
    font-family: var(--fontRoboto-1);
    font-size: 4rem;
    margin-top: 90px;
    margin-bottom: 50px;
  }
  .techs div{
    display: flex;
    justify-content: center;
    overflow-x: hidden;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
    padding: 28px;
    gap: 100px;
  }
  .techs img{
    cursor: pointer;
    transition: 0.5s;
  }
  .techs img:hover{
    scale: 1.3;
  }
/*=====*/
/*=====Laboral Timeline=====*/
.laboral{
    padding-top: 48px;
  }
  .timeline-laboral{
    position: relative;
    max-width: 1024px;
    margin: auto;
  }
  .title-laboral h2{
    color: var(--color-3);
    font-family: var(--fontRoboto-1);
    font-size: 4rem;
    text-align: center;
    margin-bottom: 16px;
  }
  .container{
    padding: 10px 50px;
    position: relative;
    width: 50%;
    animation: movedown .2s linear forwards;
    opacity: 0;
  }
  @keyframes movedown{
    0%{
        opacity: 1;
        transform: translateY(-30px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
  }
  .container:nth-child(1){
    animation-delay: 0s;
  }
  .container:nth-child(2){
    animation-delay: .5s;
  }
  .container:nth-child(3){
    animation-delay: 1s;
  }
  .container:nth-child(4){
    animation-delay: 1.5s;
  }
  .container:nth-child(5){
    animation-delay: 2s;
  }
  .container:nth-child(6){
    animation-delay: 2.5s;
  }
  .text-box{
    padding: 20px 30px;
    background: var(--color-1);
    box-shadow: 0 0 56px var(--color-2);
    position: relative;
    border-radius: 6px;
    font-size: 1.6rem;
    font-family: var(--fontRoboto-1);
    color: var(--color-3);
    transition: 0.3s;
  }
  .text-box:hover{
    transform: scale(1.05);
  }
  .left-container{
    left: 0;
  }
  .right-container{
    left: 50%;
  }
  .container img{
    position: absolute;
    width: 40px;
    border-radius: 50%;
    right: -20px;
    top: 32px;
    z-index: 10;
  }
  .right-container img{
    left: -20px;
  }
  
  .timeline-laboral::after{
    content: '';
    position: absolute;
    width: 6px;
    height: 100%;
    background-color: var(--color-3);
    top: 0;
    left: 50%;
    margin-left: -3px;
    z-index: -1;
    animation: moveline 2.9s linear forwards;
  }
  @keyframes moveline {
    0%{
        height: 0;
    }
    100%{
        height: 100%;
    }
  }
  .text-box h3{
    font-family: var(--fontRoboto-1);
    font-weight: bold;
    font-size: 2rem;
  }
  .text-box small{
    font-family: var(--fontRoboto-1);
    font-size: 1.6rem;
  }
  .left-container-arrow{
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid var(--color-1);
    right: -15px;
  }
  .right-container-arrow{
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid var(--color-1);
    left: -15px;
  }
  
  @media screen and (max-width: 600px){
    .timeline-laboral{
        margin: 8px auto;
    }
    .timeline-laboral::after{
        left: 31px;
        background-color: var(--color-3);
    }
    .container{
        width: 100%;
        padding-left: 80px;
        padding-right: 25px;
    }
    .text-box{
        font-size: 13px;
    }
    .text-box small{
        margin-bottom: 19px;
    }
    .right-container{
        left: 0;
    }
    .left-container img,
    .right-container img{
        left: 10px;
    }
    .left-container-arrow,
    .right-container-arrow{
        border-right: 15px solid var(--color-2);
        border-left: 0;
        left: -15px;
    }
  }
/*=======================*/
/*=====Educación Timeline=====*/
.edu{
    padding-top: 64px;
  }
  .timeline-edu{
    position: relative;
    max-width: 1024px;
    margin: auto;
  }
  .title-edu h2{
    color: var(--color-3);
    font-family: var(--fontRoboto-1);
    font-size: 4rem;
    text-align: center;
    margin-bottom: 16px;
  }
  .container-edu{
    padding: 10px 50px;
    position: relative;
    width: 50%;
    animation: movedown .2s linear forwards;
    opacity: 0;
  }
  @keyframes movedown{
    0%{
        opacity: 1;
        transform: translateY(-30px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
  }
  .container-edu:nth-child(1){
    animation-delay: 0s;
  }
  .container-edu:nth-child(2){
    animation-delay: .5s;
  }
  .container-edu:nth-child(3){
    animation-delay: 1s;
  }
  .container-edu:nth-child(4){
    animation-delay: 1.5s;
  }
  .container-edu:nth-child(5){
    animation-delay: 2s;
  }
  
  .text-box-edu{
    padding: 20px 30px;
    background: var(--color-1);
    box-shadow: 0 0 56px var(--color-2);
    position: relative;
    border-radius: 6px;
    font-size: 1.6rem;
    font-family: var(--fontRoboto-1);
    color: var(--color-3);
    transition: 0.3s;
  }
  .text-box-edu:hover{
    transform: scale(1.05);
  }
  .left-container-edu{
    left: 0;
  }
  .right-container-edu{
    left: 50%;
  }
  .container-edu img{
    position: absolute;
    width: 40px;
    border-radius: 50%;
    right: -20px;
    top: 32px;
    z-index: 10;
  }
  .right-container-edu img{
    left: -20px;
  }
  
  .timeline-edu::after{
    content: '';
    position: absolute;
    width: 6px;
    height: 100%;
    background-color: var(--color-3);
    top: 0;
    left: 50%;
    margin-left: -3px;
    z-index: -1;
    animation: moveline 2.5s linear forwards;
  }
  @keyframes moveline {
    0%{
        height: 0;
    }
    100%{
        height: 100%;
    }
  }
  .text-box-edu h3{
    font-family: var(--fontRoboto-1);
    font-weight: bold;
    font-size: 2rem;
  }
  .text-box-edu small{
    font-family: var(--fontRoboto-1);
    font-size: 1.6rem;
  }
  .left-container-edu-arrow{
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid var(--color-1);
    right: -15px;
  }
  .right-container-edu-arrow{
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid var(--color-1);
    left: -15px;
  }
  
  @media screen and (max-width: 600px){
    .timeline-edu{
        margin: 8px auto;
    }
    .timeline-edu::after{
        left: 90.6%;
        background-color: var(--colorSecond);
    }
    .container-edu{
        width: 100%;
        padding-left: 5%;
        padding-right: 23%;
    }
    .text-box-edu{
        font-size: 13px;
    }
    .text-box-edu small{
        margin-bottom: 19px;
    }
    .right-container-edu{
        left: 0;
    }
    .left-container-edu img,
    .right-container-edu img{
        left: 85.5%;
    }
    .left-container-edu-arrow,
    .right-container-edu-arrow{
        border-right: 0;
        border-left: 15px solid var(--colorPrimary-1);
        left: 100%;
    }
  }
/*=====Educación Timeline END=====*/

/* KEYFRAMES ANIMATION */

@keyframes slideRight {
    0%{
        opacity: 0;
        transform: translateX(-100px);

    }
    100%{
        opacity: 1;
        transform: translateX(0);
        
    }
} 

@keyframes slideLeft {
    0%{
        opacity: 0;
        transform: translateX(100px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideTop {
    0%{
        opacity: 0;
        transform: translateY(100px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
} 

@keyframes professionRotate {
    0%, 20%{
        transform: rotate(0deg);
    }
    25%, 45%{
        transform: rotate(90deg);
    }
    50%, 70%{
        transform: rotate(180deg);
    }
    75%, 95%{
        transform: rotate(270deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

footer{
  background-color: var(--color-3);
  margin-top: 40px;
}
footer .made{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 8px;
}
footer p{
  font-size: 1.6rem;
  font-weight: bold;
  font-family: var(--fontRoboto-1);
  color: var(--color-1);
}
footer .bxs-heart{
  font-size: 1.6rem;
  font-weight: bold;
}